HUSNA KHANAM \
ROLL NO:61

## Problem Set 1: Variables, Data Types, and I/O

### Section 1.1: Variable Naming and Assignment

1. Create a variable named product_price and assign it the value 49.99. What is the data type of this variable?

In [1]:
product_price = 49.99
type(product_price)

float

2. Create a variable named is_active_user and set its value to True. What is its data type?

In [2]:
is_active_user = True
type(is_active_user)

bool

3. Assign the string 'Hello, World!' to a variable. Print the variable.

In [3]:
n = 'Hello , World!'
print(n)

Hello , World!

4. Assign the integer 100 to a variable named score. Re-assign the variable to a new value 120. What is the value of score now?

In [4]:
score = 100
score = 120
print(score)

120

5. Create three variables a, b, and c and assign them the values 10, 20, and 30 in a single line.

In [5]:
a , b , c = 10 , 20 , 30
print(f"a={a} , b={b} , c={c}")

a=10 , b=20 , c=30

### Section 1.2: Built-in Functions

1. What is the purpose of the id() function? Write a simple example that demonstrates its use.

The purpose of id() function is to store the memory address of the variable.

In [6]:
a = ( 1, 2 , 3)
id(a)

1699725136128

2.Use the type() function to determine the data type of the string '500' and the integer 500.

In [8]:
a = '500'
type(a)

str

In [9]:
b = 500
type(b)

int

3. Use the print() function with the sep parameter to print the words 'Hello', 'Python', and 'World' separated by a hyphen.

In [11]:
a = 'Hello' , 'Python', 'World'
print(a , sep =' , ')

('Hello', 'Python', 'World')

4. Use the print() function with the end parameter to print the string 'This is the first sentence.' without a newline, followed immediately by 'This is the second sentence.' on the same line.

In [14]:
print('This is the first sentence' , end='')
print('This is the second sentence')

This is the first sentenceThis is the second sentence

5. Use the int() function to convert the string "123" into an integer. Store the result in a new variable.

In [15]:
a = '123'
a = int(a)
type(a)

int

6. Use the float() function to convert the integer 99 into a floating-point number.

In [16]:
b = 99 
b = float(b)
type(b)

float

7. Use the str() function to convert the integer 1000 and the float 3.14 into strings.

In [21]:
a = 1000  , 3.14
a = str(a)
type(a)

str

## Problem Set 2: Control Flow and Logic

### Section 2.1: Conditional Statements (if/elif/else)

1. Write a script that checks if a variable named temperature is greater than 30. If it is, print "It's hot outside."

In [22]:
temp = 32

if temp > 30:
    print("It's hot outside")

It's hot outside

2. Create a variable grade with a value of 85. Use an if/elif/else statement to print the letter grade based on the following rules: A (90+), B (80-89), C (70-79), D (60-69), F (below 60).

In [32]:
score = 85

if score > 90:
    print('A Grade')
elif score < 89:
    print('B Grade')
elif score < 79:
    print('C Grdae')
elif score < 69:
    print('D Grade')
else:
    print ('F Grade')

B Grade

3. Write a program that takes an integer number. If the number is even, print "Even.". Otherwise, print "Odd.".

In [ ]:
a = int(input("Enter the number:"))
if a % 2 == 0:
    print('Even')
else:
    print('odd')

Even

4. Create two variables, x and y, with values 10 and 20. Write an if statement that checks if x is less than y AND if x is greater than 5. If both are true, print "Condition met."

In [40]:
x = 10
y = 20
if x < y and x > 5:
    print('Condition met')

Condition met

5. Write a program that checks if a user's entered password is at least 8 characters long. If it is, print "Password is valid." Otherwise, print "Password is too short."

In [42]:
password = input("Enter your password: ")

if len(password) == 8:
    print("Password is valid.")
else:
    print("Password is not valid.")

Password is valid.

### Section 2.2: Loops (for and while)

1. Use a for loop to iterate through the list ['apple', 'banana', 'cherry'] and print each fruit name.

In [43]:
fruits = ['apple' , 'banana' , 'cherry']
for i in fruits:
    print(i)

apple
banana
cherry

2. Use a for loop and the range() function to print all numbers from 1 to 10 (inclusive).

In [44]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

3. Create a list of numbers from 1 to 5. Use a for loop to calculate and print the sum of all numbers in the list.

In [51]:
numbers = [1, 2, 3, 4, 5]

total = 0
for num in numbers:
    total += num

print("The sum is:", total)

The sum is: 15

4. Use a while loop to print the numbers from 10 down to 1.

In [58]:
num = 10
while num >= 1:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1

5. Write a while loop that continues to prompt the user to enter a number until they enter 0.

In [62]:
num = int(input("Enter a number (0 to stop): "))

while num != 0:
    print("You entered:", num)
    num = int(input("Enter a number (0 to stop): "))

print("Loop ended. You entered 0.")

You entered: 7
You entered: 7
Loop ended. You entered 0.

6. Use a for loop to iterate through the string "Python" and print each character.

In [66]:
a = 'Python'
for i in a:
    print(i)

P
y
t
h
o
n